<div class="main">
    <form class="select-date">
        <figcaption>
            <h2>Selección de fecha</h2>
            <div class="select-date__input">
                <mat-form-field appearance="fill">
                    <mat-label>Seleccionar</mat-label>
                    <mat-select [(ngModel)]="selectedValue" name="date">
                        <mat-option *ngFor="let date of dates" [value]="date.iframeUrl">
                            {{date.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </figcaption>
    </form>
</div>

<div *ngIf="selectedValue !== ''" class="embed-container">
    <iframe scrolling="no" [src]="selectedValue | safe:'resourceUrl'" frameborder="0" allowfullscreen></iframe>
</div>