<div class="main">
    <form class="select-date">
        <figcaption>
            <h2>Selección de fecha</h2>
            <div class="select-date__input">
                <mat-form-field appearance="fill">
                    <mat-select [(ngModel)]="selectedValue" (selectionChange)="changeDate($event.value)"
                        [placeholder]="placeholderTextDate" name="date">
                        <mat-option *ngFor="let date of dates" [value]="date">
                            {{date.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </figcaption>
    </form>
    <form class="select-portal">
        <figcaption>
            <h2>Selección de portal</h2>
            <div class="select-portal__input">
                <mat-form-field appearance="fill">
                    <mat-select [(ngModel)]="selectedValue" (selectionChange)="changePortal($event.value)"
                        [placeholder]="placeholderTextPortal" name="portal">
                        <mat-option *ngFor="let portal of portals" [value]="portal">
                            {{portal.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </figcaption>
    </form>
    <div class="reload_container">
        <button mat-stroked-button class="table_reload" (click)="reloadDash()">Recargar tabla</button>
    </div>
</div>
<!-- <div class="main">

</div> -->

<div class="embed-container">
    <iframe id="myiframe" scrolling="no" [src]="selectedValue.iframeUrl | safe:'resourceUrl'" frameborder="0"
        allowfullscreen></iframe>
</div>

<div class="opendata-links">
    <div class="opendata-visor">
        <h2 class="opendata-visor__title">
            Descarga de datos abiertos
        </h2>
        <div class="opendata-visor__content">
            <div class="opendata-visor__content-left">
                <ul>
                    <li>
                        Total visitas por usuario único (Geolocalización):
                        <a mat-stroked-button *ngIf="selected_portal_id!=0;else noportalCSVCountries"
                            href="{{environment.environment_host+'/gapiv2/export_countries?extension=csv&days=now/y&portal='+selected_portal_id}}"
                            target="_blank">CSV</a>
                        <ng-template #noportalCSVCountries>
                            <a mat-stroked-button
                                href="{{environment.environment_host+'/gapiv2/export_countries?extension=csv&days=now/y'}}"
                                target="_blank"> CSV </a>
                        </ng-template>
                        <a mat-stroked-button *ngIf="selected_portal_id!=0;else noportalJSONCountries"
                            href="{{environment.environment_host+'/gapiv2/export_countries?extension=json&days=now/y&portal='+selected_portal_id}}"
                            target="_blank">JSON</a>
                        <ng-template #noportalJSONCountries>
                            <a mat-stroked-button
                                href="{{environment.environment_host+'/gapiv2/export_countries?extension=json&days=now/y'}}"
                                target="_blank"> JSON </a>
                        </ng-template>
                    </li>
                    <li>
                        Páginas más vistas (primer acceso):
                        <a mat-stroked-button *ngIf="selected_portal_id!=0;else noportalCSVPages"
                            href="{{environment.environment_host+'/gapiv2/export_pages?extension=csv&days=now/y&portal='+selected_portal_id}}"
                            target="_blank">CSV</a>
                        <ng-template #noportalCSVPages>
                            <a mat-stroked-button
                                href="{{environment.environment_host+'/gapiv2/export_pages?extension=csv&days=now/y'}}"
                                target="_blank"> CSV </a>
                        </ng-template>
                        <a mat-stroked-button *ngIf="selected_portal_id!=0;else noportalJSONPages"
                            href="{{environment.environment_host+'/gapiv2/export_pages?extension=json&days=now/y&portal='+selected_portal_id}}"
                            target="_blank">JSON</a>
                        <ng-template #noportalJSONPages>
                            <a mat-stroked-button
                                href="{{environment.environment_host+'/gapiv2/export_pages?extension=json&days=now/y'}}"
                                target="_blank"> JSON </a>
                        </ng-template>
                    </li>
                    <li>
                        Navegadores utilizados (primer acceso):
                        <a mat-stroked-button *ngIf="selected_portal_id!=0;else noportalCSVBrowsers"
                            href="{{environment.environment_host+'/gapiv2/export_browsers?extension=csv&days=now/y&portal='+selected_portal_id}}"
                            target="_blank">CSV</a>
                        <ng-template #noportalCSVBrowsers>
                            <a mat-stroked-button
                                href="{{environment.environment_host+'/gapiv2/export_browsers?extension=csv&days=now/y'}}"
                                target="_blank"> CSV </a>
                        </ng-template>
                        <a mat-stroked-button *ngIf="selected_portal_id!=0;else noportalJSONBrowsers"
                            href="{{environment.environment_host+'/gapiv2/export_browsers?extension=json&days=now/y&portal='+selected_portal_id}}"
                            target="_blank">JSON</a>
                        <ng-template #noportalJSONBrowsers>
                            <a mat-stroked-button
                                href="{{environment.environment_host+'/gapiv2/export_browsers?extension=json&days=now/y'}}"
                                target="_blank"> JSON </a>
                        </ng-template>
                    </li>
                </ul>
            </div>
            <div class="opendata-visor__content-right">
                <a mat-stroked-button class="older_stats"
                    href="https://opendata.aragon.es/datos/catalogo/dataset/estadisticas-de-uso-de-los-portales-y-webs-mas-importantes-del-gobierno-de-aragon"
                    target="_blank"><mat-icon> insert_chart_outlined</mat-icon> Estadísticas de años anteriores</a>
            </div>
        </div>
    </div>
</div>